
#aside{
}


#aside>#subscribe{
background-color:#DEDEDE;
padding:4% 15%;
text-align: right;
}


#aside>#subscribe>form>fieldset>#emailSubscribe{
    width: 40%;
    border: none;
    height: 50px;
    text-indent: 20px;
}


#aside>#subscribe>form>fieldset>#subscribeButton{
width: 10%;
height: 52px;
border: none;
background-color: black;
color: white;
cursor: pointer;
}

#aside>#sitemap{
    padding: 0 13%;
    display: flex;
    align-items: center;
    background-color: #666;
}


#aside>#sitemap>#text>dl>dt{
    color: #14b4e9;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#aside>#sitemap>#text>dl>dt>span{
    font-size: 22px;
}

#aside>#sitemap>#text>dl>dd{
    color: #ccc;
    margin-bottom: 10px;
}

#aside>#sitemap>#text>dl>dd:last-child{
    color: #bababa;
}

#aside>#sitemap>#maplink{
    display: flex;
}

#aside>#sitemap>#maplink>dl{
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#aside>#sitemap>#maplink>dl>dd{
    margin: 20px 0;
}

#aside>#sitemap>#maplink>dl>dd:hover{
    background-color: cadetblue;
}

#aside>#sitemap>#maplink>dl>dd>a{
    color: #ccc;
    font-weight: bold;
    font-size: 13px;
}