#header2{
    display: none;
    background-color: rgba(255, 255, 255, 0.76);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    z-index: 100;
}


#header2>nav>ul{
    display: flex;
    justify-content: center;
}


#header2>nav>ul>li{
z-index: 1000;
}


#header2>nav>ul>li>a{
    color: rgb(77, 76, 76);
    font-size: 20px;
    font-weight: bold;
    padding: 10px 50px;
    display: block;
}


#header2>nav>ul>li:hover{
    background-color:cadetblue;
}



header{
    background-color: black;
    height: 125px;
}

header>div{
    width: 1100px;
    height: 125px;
    margin: 0 auto;
}


header h1{
float: left;
height: 125px;
width: 223px;
}

header h1>a>img{
    width: 223px;
    height: 125px;
}


header>div>div{
    display: inline-block;
    height: 125px;
    width: 877px;
}

header>div>div>#lognav{
    width: 877px;
    height: 86px;
    padding-left: 85%;
    text-align: right;
    box-sizing: border-box;
}

header>div>div>#lognav>ul{
    display: flex;
    padding-top: 20px;
}

header>div>div>#lognav>ul>li{
    position: relative;
    color: #ccc;
    font-size: 40px;
    padding: 0 10px;
    cursor: pointer;
}




header>div>div>#lognav>ul>li>a{
    color: #ccc;
    font-size: 40px;
}

header>div>div>#lognav>ul>li>ul{
    display: none;
    position: absolute;
    left: -13px;
    top: 42px;
    background-color: #F5F5F5;
    text-align: center;
}

header>div>div>#lognav>ul>li:hover>ul{
    display: block;
}


header>div>div>#lognav>ul>li>ul>li{
    width: 90px;
    display: flex;
    line-height: 50px;
    align-items: center;
    justify-content: center;

}

header>div>div>#lognav>ul>li>ul>li>a{
    color: black;
    font-size: 12px;
}

header>div>div>#lognav>ul>li>ul>li:hover{
    background-color: cadetblue;
}


header>div>div>#mdocmenu{
    width: 650px;
    float: left;
    width: 652;
    line-height: 40px;
}


header>div>div>#mdocmenu>ul{
    display: flex;
    justify-content: space-around;
}


header>div>div>nav>ul>li:hover{
    background-color:cadetblue;
}

header>div>div>nav>ul>li>a{
    font-size: 1em;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #ccc;
}


header>div>div>div input{
    width: 180px;
    height: 39px;
    line-height: 35px;
}

header>div>div>div button{
    font-size: 13px;
    width: 44px;
    height: 39px;
    cursor: pointer;
}